* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.menusecciones {
    background: goldenrod;
    text-align: center;
    text-decoration-line: none;
    text-decoration-color: white;
    line-height: 50px;
    font-size: 25px;
}

.section {
    background-color: white;
    height: auto;
    margin-top: 0%;
    position: relative;
    z-index: 1;
}

#Introducción {
    height: auto;
}

.title {
    vertical-align: top;
    text-align: left;
    line-height: 50px;
    text-transform: capitalize;
    padding-left: 20px;
}

.parrafo {
    line-height: 30px;
    font-size: 25px;
    align-items: justify;
    padding: 40px;
}

.grid {
    max-width: 1200;
    width: 90%;
    height: 600px;
    margin: 20px;
    outline: 3px solid red;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    margin: auto;
}

.grid_item {
    font-size: 3rem;
}

.grid_item1 {
    grid-column-start: 1;
    background-color: black;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: aliceblue;
    align-self: center;
    justify-self: center;
}

.grid_item2 {
    grid-column: 2/-1;
    align-self: center;
    justify-self: center;
    padding-left: 30px;
    padding-right: 30px;
    color: goldenrod;
}

.grid_item3 {
    grid-column: 1/-1;
}

.grid_item4 {
    grid-column: 3/-1;
    background-color: goldenrod;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: aliceblue;
    align-self: center;
    justify-self: center;
}

.grid_item5 {
    grid-column: 1/-2;
    align-self: center;
    justify-self: center;
}

.grid_item6 {
    grid-column: 1/-1;
}