.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  color: var(--secondary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.nav-activo .nav {
  display: flex;
}

.nav a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-2);
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--secondary-4);
}
