.footer {
    padding-top: var(--spacer-m);
    padding-bottom: var(--spacer-m);
    font-size: var(--text-note);
    text-align: left;
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

.footer a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

.footer a:hover {
    color: var(--link-hover);
}