.proyecto img {
  display: block;
  width: 100%;
}

.proyecto-ilu {
  display: block;
  overflow: hidden;
  position: relative;
}

.proyecto-ilu-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-light);
  background-color: rgba(45, 49, 67, 0.6);
  transition: opacity 0.3s;
}

.proyecto-ilu:hover .proyecto-ilu-overlay {
  opacity: 1;
}

.proyecto-ilu img {
  transition: transform 0.3s;
}

.proyecto-ilu:hover img {
  transform: scale(1.05);
}
